name: Tests

on:
  push:
    branches: [main]
  pull_request:

jobs:
  run_tests_ubuntu:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        python-version: ["3.11", "3.12", "3.13"]
      fail-fast: false

    timeout-minutes: 30

    steps:
      - uses: actions/checkout@v4

      - name: Setup package ${{ matrix.python-version }}
        uses: ./.github/actions/setup
        with:
          python-version: ${{ matrix.python-version }}

      - name: Run tests
        run: >
          uv run pytest -v --cov=src -m "not parallelized and not lightning"
          --ignore="benchmark" --ignore="src/meds_torchdata/extensions"

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v4.0.1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
